{% extends "base.html" %}
{% block content %}
<div style="background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');">
  <br>
  <h1>General Examination Guidelines</h1>
  <hr>
  <ul>
    <li align="left">You must arrive at the test center at least 30 minutes before your scheduled appointment. This will allow you time for admission, storage of personal items, to use the washroom, etc.</li>
    <li align=”left”>No personal items, including cellular phones, hand-held computers/personal digital assistants (PDAs) or other electronic devices, pagers, watches, wallets, purses, hats (and other head coverings), bags, coats, books and notes are allowed in the testing room. You must store all personal items in a locker. Cell phones, pagers or other electronic devices must be turned off before storing them in a locker. The test center is not responsible for lost, stolen or misplaced personal items.</li>
    <li>Before you enter the testing room, you will be provided with a noteboard/booklet and a marker. You may not remove these items from the testing room at any time during the exam, and you must returnthem to the test administrator after the exam.</li>
    <li>The noteboard shall be for your own personal use only and would not be visible to us, nor be taken into consideration for the computation of your score. Thus, answers you input on the computer-based examination shall be deemed as your final answers.</li>
    <li>You understand that a Non-Disclosure Agreement may be presented to you before the exam and if so, you must agree to its terms and conditions within the specified time limit in order to take the exam or else you will forfeit your exam fees.</li>
    <li>To ensure a high level of security throughout your testing experience, you will be monitored at all times.</li>
    <li>If you experience hardware or software problems or distractions that affect your ability to take the exam, notify the administrator immediately by raising your hand. If you have other questions or concerns, raise your hand and the administrator will assist you as long as other candidates are not disturbed. The administrator cannot answer questions related to exam content.</li>
    <li>Youmay not remove copies of exam questions and answers from the testing center and may not share or discuss the questions or answers seen in your exam with other candidates.</li>
    <li>If observed to be violating the above rules, if you tamper with the computer or if you are suspected of cheating, appropriate action will be taken. This may include invalidation of your exam results.</li>
    <li>Candidates are responsible of keeping the confidentiality and integrity of any Aswar examinations they have taken. Actual, intended, or attempted deception, dishonesty, and/or any action of cheating observed in a candidate shall not be tolerated. A candidate proven to violate Aswar’s misconduct policy shall be subject to a 2-year ban on taking examinations and acquiring certifications from Aswar, along with the nullification of all previous certifications.</li>
    <li>All candidates are expressly prohibited from disclosing, publishing, reproducing, or transmitting any confidential Information, in whole or in part, in any form or by any means, oral or written, electronic or mechanical, for any purpose to any person(s), including to an employee from Aswar not affiliated with any of the Certification Program(s)</li>
    <li>You must leave the testing room at once as soon as your examination has ended.</li>
    <li>Examination results willbe sent to you via e-mail within 7 calendar days from the examination completion.</li>
  </ul><br>
</div>
{% endblock %}
